bin/*
build/*
.vscode/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.tex
step*.txt
examples/Gosper_glider_gun/png/*
jobscript
machine.file*
docs/html/*
docs/latex/*
!docs/latex/refman.pdf
examples/test/*
docs/Doxyfile
